@keyframes fadeInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform: translateX(-100%);
}

@keyframes fadeInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform: translateX(100%);
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.animate-appear {
  animation-name: appear;
  transform-origin: top left;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform: scale(0);
}
